QMenuBar {
    min-height: 82px;
    max-height: 88px;
}
QTabBar::tab {
    font-size: 9px;
    padding: 2px 8px;
}
QToolButton {
    font-size: 11px;
    padding: 1px 3px;
    margin: 0px;
    min-height: 34px;
}
QWidget {
    margin: 0px;
    padding: 0px;
}
