QMenuBar {
    min-height: 90px;
    max-height: 100px;
}
QTabBar::tab {
    font-size: 10pt;
    height: 22px;
    padding: 2px 10px;
    margin: 0px;
}
QToolButton {
    font-size: 9pt;
    padding: 1px 3px;
    margin: 0px;
    min-height: 32px;
}
QLabel {
    font-size: 8pt;
    padding: 0px;
    margin: 0px;
}
QWidget {
    margin: 0px;
    padding: 0px;
}
